{#<form method="POST" action="{% url "add_new" %}">#}
<h3> Добавить пользователя </h3>
<table>
    <tr>
        <td>Имя пользователя:</td>
        <td>
            <input id="user_name" type="text" name="login" value=""/>
        </td>
    </tr>
    <tr>
        <td>Пароль:</td>
        <td>
            <input id="user_password" type="password" name="password" value=""/>
        </td>
    </tr>
    <td>Фамилия:</td>
    <td><input id="surname" type="text" name="surname" value=""/></td>
    <td>Имя:</td>
    <td><input id="name" type="text" name="name" value=""/></td>
    <td>Отчество:</td>
    <td><input id="second_name" type="text" name="second_name" value=""/></td>
    </tr>
</table>
<input id="useradd" type="submit" value="Добавить"/>
{#</form>#}
<script>
    document.getElementById('useradd').onclick = function () {
        var login = document.getElementById("user_name").value;
{#        login = encodeURIComponent(login);#}
        var password = document.getElementById("user_password").value;
{#        password = encodeURIComponent(password);#}

        var surname = document.getElementById("surname").value;
{#        surname = encodeURIComponent(surname);#}
        var name = document.getElementById("name").value;
{#        name = encodeURIComponent(name);#}
        var second_name = document.getElementById("second_name").value;
{#        second_name = encodeURIComponent(second_name);#}


        var body = ("login=" + login + "&"
        + "password=" + password);

        if (surname) body += "&surname=" + surname;
        if (name) body += "&name=" + name;
        if (second_name) body += "&second_name=" + second_name;

        var request = new XMLHttpRequest();
        request.open("POST", "{% url "add_new" %}", false);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(body);
        console.log(request.body);
        console.log(body);

        var response = request.statusText + "\n" + request.responseText;
        alert(response);
    }
</script>