<h3> Добавить трек </h3>
<table>
    <tr>
        <td>Имя пользователя:</td>
        <td>
            <input id="datalogin" type="text" name="login" value=""/>
        </td>
    </tr>
    <tr>
    <tr>
        <td>Коментарий</td>
    </tr>
    <tr>
        <td><input id="datacomment" type="text" name="comment" value="Englishonly"/></td>
    </tr>
    <tr>
        <td>Трек</td>
    </tr>
    <td>
        <textarea id="trackdata" rows="6" cols="20" name="data"></textarea>
    </td>
    </tr>
</table>
<input type="radio" id="start" name="PACKAGETYPE" value="start"/> <label for="begin">Стартовый</label> <br/>
<input type="radio" id="middle" name="PACKAGETYPE" value="middle"/> <label for="middle">Пакет номер</label>
<input id="pnum" type="text" name="pnum" value=""/><br/>
<input type="radio" id="end" name="PACKAGETYPE" value="end"/> <label for="end">Конечный</label> <br/>
<input id="sendtrack" type="submit" value="Отправить"/>
<script>
    document.getElementById('sendtrack').onclick = function () {
        var login = document.getElementById("datalogin").value;
        var data = document.getElementById("trackdata").value;
        var comment = document.getElementById("datacomment").value;
{#        коментарий пока только на английском#}
        comment = encodeURIComponent(comment);
        var packtype_radio = document.getElementsByName("PACKAGETYPE");
        var packNum = document.getElementById("pnum").value;
        var packagetype = "";
        var datasize = "50";
        var body = ("token=" + login + "&" +
        "data=" + data);


        for (var i = 0; i < packtype_radio.length; i++) {
            if (packtype_radio[i].checked) {
                packagetype = packtype_radio[i].value;
                break;
            }
        }

        if ((!packagetype) || ((packagetype == "middle") && (!+packNum))) {
            if (!packagetype) {
                alert("Не выбран тип пакета.");
            }
            else {
                alert("Введите номер пакета.");
            }
        }
        else {
            var request = new XMLHttpRequest();
            request.open("POST", "{% url "data" %}", false);
{#          request.setRequestHeader("Content-Type", "multipart/form-data");#}
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.setRequestHeader("COMMENT", comment);
            request.setRequestHeader("PACKAGETYPE", packagetype);
            request.setRequestHeader("NUMPACKAGE", packNum);
            request.setRequestHeader("DATASIZE", datasize);
            request.send(body);
            var response = request.statusText + "\n" + request.responseText;
            alert(response);

        }
    }
</script>