<h3> Войти </h3>
<table>
    <tr>
        <td>Имя пользователя:</td>
        <td>
            <input id="login" type="text" name="login" value=""/>
        </td>
    </tr>
    <tr>
        <td>Пароль:</td>
        <td>
            <input id="password" type="password" name="password" value=""/>
        </td>
    </tr>
</table>
<input id="authorization" type="submit" value="Войти"/>
<script>
    document.getElementById("authorization").onclick = function () {
        var login = document.getElementById("login").value;
{#        login = encodeURIComponent(login);#}
        var password = document.getElementById("password").value;
{#        password = encodeURIComponent(password);#}
        var body = ("login=" + login + "&"
        + "password=" + password);

        var request = new XMLHttpRequest();
        request.open("POST", "{% url "log_in" %}", false);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(body);
        var response = request.statusText + "\n" + request.responseText;
        alert(response);
    }
</script>