{#<form method="POST" action="{% url "log_out" %}">#}
<h3> Выйти </h3>
<table>
    <tr>
        <td>Имя пользователя:</td>
        <td>
            <input type="text" name="login" value=""/>
        </td>
    </tr>
</table>
<input id="deauthorization" type="submit" value="Выйти"/>
{#</form>#}
<script>
    document.getElementById("deauthorization").onclick = function () {
        var login = document.getElementById("login").value;
        login = encodeURIComponent(login);
        var body = ("login=" + login);

        var request = new XMLHttpRequest();
        request.open("POST", "{% url "log_out" %}", false);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(body);
        var response = request.statusText + "\n" + request.responseText;
        alert(response);
    }
</script>