<h3> Поиск </h3>
<table>
    <tr>
        <td>Имя пользователя:</td>
        <td>
            <input id="search_field" type="text" name="login" value=""/>
        </td>
    </tr>
</table>
<table id="search_advice_wrapper">
</table>
{#<script src="http://ajaxs.ru/demo/ajax/liveSearch/js/jquery-1.5.1.min.js" type="text/javascript"></script>#}
{##}
{#<script type="text/javascript">#}
{#  $('#search_field').keyup(function(){#}
{#    if($(this).val().length>=2){#}
{#      $.get('search/' + $(this).val(),{'query':$(this).val()},function(data){#}
{#        data = $(this).val();//json data. array of strings#}
{#        if(data.length!=undefined && data.length>0){#}
{#          $("#search_advice_wrapper").html('');#}
{#          for(i in data){#}
{#            $("#search_advice_wrapper").append('<div class="advice_variant">'+data[i]+'</div>');#}
{#          }#}
{#        }#}
{#      });#}
{#    }#}
{#  });#}
{##}
{#  $('.advice_variant').live('click',function(){#}
{#    $('#search_field').val($(this).text());#}
{#  });#}
{##}
{#</script>#}


<script>
    document.getElementById("search_field").addEventListener("input", function () {
        var search_field = document.getElementById("search_field");
        var search_text = search_field.value;
        if (search_text.length >= 2) {
            var request = new XMLHttpRequest();
            var requestURL = "search/" + search_text; //убрать хардкод
            request.open("GET", requestURL, false);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(null);
            var response = request.responseText;
            var search_result_field = document.getElementById("search_advice_wrapper");
            search_result_field.innerHTML = response;
        }
    })
</script>